@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-weight: 16px;
}



#cartValue {
  font-size: x-small;
}

#cartBasket{
  position: absolute;
  top: 5rem;
  width:85vw;
  height: 15rem;
  right: 1rem;
}


@media screen and (min-width:480px) {
  #cartBasket{
    position: absolute;
    top: 4rem;
    width: 20rem;
    height: 15rem;
  }
  
}


#mySideNav {
  height: 100%;
}


/* lighbox desktop */
input[type="radio"].hidden-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
input[type="radio"].hidden-radio:checked + img {
  border-color: #ff7e1b;
}
label img {
  border-radius: 1rem;
}

form .active {
  border: #ff7e1b solid ;
  border-width: 2px;
  border-radius: 1rem;
  opacity:0.6;

}